/* Fonts
--------------------------*/
@import url("https://rsms.me/inter/inter-ui.css");

/* Variables
---------------------------*/

:root {

	--color-teal-T1000: #052028;
	--color-teal-T900: #054861;
	--color-teal-T800: #0F6A80;

	--color-gray-L700: #33373B;
	--color-gray-L200: #F2F5F8;
	--color-gray-D200: #A3A8AC;

	--color-yellow-Y500: #FFB916;
	--color-yellow-Y400: #FFCF50;

	--color-red-R600: #DB4648;

	--body-border:0;
	--body-padding:0;
	--color-mode: 'light';
	--background: var(--color-yellow-Y500);
	--background-alt:  var(--color-yellow-Y400);
	--text-color: var(--color-gray-L700);
	--mode-icon: '🌑';
	--mode-icon-opacity: '1';
	--border-color: var(--text-color);
}

/* ------ Dark Mode ------ */

@media (prefers-color-scheme: dark) {
	:root {
		--color-mode: 'dark';
	}

	:root:not([data-user-color-scheme]) {
		--background: var(--color-teal-T1000);
		--background-alt: var(--color-teal-T900);
		--text-color: var(--color-gray-L200);
		--border-color: var(--color-teal-T800);
		--mode-icon: '🌕';
		--mode-icon-opacity: .85;
	}
}

[data-user-color-scheme='dark'] {
	--background: var(--color-teal-T1000);
	--background-alt: var(--color-teal-T900);
	--text-color: var(--color-gray-L200);
	--border-color: var(--color-teal-T800);
	--mode-icon: '🌕';
	--mode-icon-opacity: .85;
}

/* Global
---------------------------*/

*, *::before, *::after {
	box-sizing: border-box;
}

::selection {
	background-color: var(--color-red-R600);
	color: var(--color-gray-L200);
}

html {
	height: 100vh;
	padding: var(--body-border);
	background-color: var(--background-alt);
	box-sizing:border-box;
}

body {
	box-sizing:border-box;
	min-height: calc(100vh - var(--body-border)*2);
	margin:1rem;
	padding:2rem;
	display: flex;
	flex-direction: column;
	gap: 1vw;
	background-color: var(--background);
	border-radius: .5rem;
	font-size: 112.5%;
	font-family: "Inter UI", Helvetica, Arial, sans-serif;
	line-height: 1.4;;
	color: var(--text-color);
}

body.no-js {
	padding-top: 5vw;
}

hr {
	width:100%;
	color:var(--background-alt);
	border:none 0;
	border-bottom:.5rem solid;
	margin:0;
}
img { min-width:20rem; max-width:100%; width:25vw; }

/* Header
---------------------------*/

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align:center;
}

body.no-js .toggle-button {
	display: none;
}

.toggle-button {
	margin-top: auto;
	padding: .4em .8em;
	background-color: var(--background-alt);
	border: none;
	border-radius:.5rem;
	font-size: clamp(1rem, 1vw, 1.5rem);
	color: var(--text-color);
	cursor: pointer;
}

.toggle-button::before {
	content: var(--mode-icon);
	opacity: var(--mode-icon-opacity);
}

.toggle-button:focus {
	outline: none;
	border: none;
}

.toggle-button:focus-visible {
	outline: 2px solid var(--text-color);
}

/* Main
---------------------------*/

main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
/*	flex: 1;*/
}

article {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	align-items:center;
}


@media screen and (min-width: 800px) {
	main {
/*		flex-direction: row;*/
	}
}
/*@media screen and (min-width: 400px) {*/
/*	img { min-width:100%; }*/
/*}*/
@media screen and (max-width: 400px) {
	img { min-width:100%; }
}
