/* custom global CSS */
.fa-pulse { -webkit-animation:fa-spin 1s infinite steps(8); animation:fa-spin 1s infinite steps(8) }
@-webkit-keyframes fa-spin {
	0% { -webkit-transform:rotate(0deg);transform:rotate(0deg) }
	100% { -webkit-transform:rotate(359deg);transform:rotate(359deg) }
}
@keyframes fa-spin {
	0% { -webkit-transform:rotate(0deg);transform:rotate(0deg) }
	100% { -webkit-transform:rotate(359deg);transform:rotate(359deg) }
}

a.fa.cpl-i-extlink { text-decoration:none; }

.mnSub { position:absolute; height:100%; right:-12px; }

/* sidebar icons */
.cpl-menu-icon-wrapper { flex-grow:1; text-align:end; }
#musers a[href*="l=groups"],
#mforum a[href*="l=forums"],
#mpoll a[href*="l=polls"],
#mshop a[href*="l=goods"],
#smnnews a:not([href*="a=zen"]), #smnpubl a:not([href*="a=zen"]), #smnload a:not([href*="a=zen"]), #smndir a:not([href*="a=zen"]), #smnboard a:not([href*="a=zen"]), #smnblog a:not([href*="a=zen"]), #smnstuff a:not([href*="a=zen"]),
#smnsite, #smnphoto, #smngb, #smnfaq, #smnsearch, #smntests,
#smnmchat, #smnmail, #smnstat, #smncrosspost, #smnseo, #smnfeedsya,
.sbm a[href*='a=cats'], .sbm a[href*='l=cats'], .sbm a[href*='l=cat_manage'],  /* categories */
.sbm a[href*='l=filter'],                                                      /* filters */
.sbm a[href*="a=entries"], .sbm a[href*="l=entry"],                            /* entries */
.sbm a[href*='l=setup'],                                                       /* setup */
.sbm a[href*="a=tmpl"]                                                         /* templates */
{display:none!important; }

/* users */
.cpl-users [align=center] { white-space:nowrap; }

.cpl-fly-button-break { padding-bottom:32px; }
tr.cpl-fly-button, div.cpl-fly-button { display:flex; position:fixed; bottom:0; right:0; left:0; padding:4px 1px 5px; justify-content:flex-end; align-items:center; z-index:1; box-sizing:border-box; margin:0!important; }

/* templates */
[content].cpl-fs-editor { position:fixed; top:calc(24px + 1rem); left:1rem; right:1rem; margin:0; z-index:10001; box-sizing:border-box; width:auto; height:auto; box-shadow:0 0 50px 50px rgba(0, 0, 0, 0.75); }
.cpl-bw [content].cpl-fs-editor { top:calc(54px + 1rem); }





/* soc comments */
.cpl-soccomm-select-all { font-weight:bold; }



















/* TODO refactor */

#panel-side .fa{width:auto; height:auto; }

.cpl-i-style:before{font-weight:bold; }

.fa-times:before{content:'\f00d'; }
.fa-pencil:before{content:'\f040'; }

#isInMo .mod-cat{order:-1; width:17px; min-width:17px; position:absolute; left:2px; top:1px; height:17px; }

a.noun.aliasLink{position:relative; padding-right:30px; }
a.noun.aliasLink:after{content:'»'; margin:-6px 0 0 4px; position:absolute; font:bold 2em/1 sans-serif; color:green; }


/*input[name="doctype"]{width:100%; padding-right:20px; }*/
/*a.doctypeCLEAR{position:absolute; right:22px; margin:-19px 0 0; text-decoration:none; }*/

.cancelRecurrent{float:right; }

/*label.activateALL{display:block; font-weight:bold; margin:0 0 4px; }*/


#dood { float:right; margin:0 7px 0 0; cursor:pointer; }
/*tr.cpl-fly-button > td{padding:1px 3px; width:${!!document.querySelector('[has-jivo]') ? '425px' : 'auto'}; }*/

.udtr-wrap{padding:10px 15px 0!important; }
.udtr-wrap > table{margin:0 auto; }
.udtr-wrap td{padding:7px 15px 8px!important; }

/*cсылка на RSS модуля*/
.rssLINK{float:right; display:inline-block; }
.rssLINK a{color:blue; }

/*SEO-url переключатель*/
[data-prefix]{position:absolute; right:22px; margin:2px 0; }

/*ссылка удаления информеров*/
[data-deleteALLinf]{float:right; font-weight:bold; text-decoration:none!important; color:brown!important; margin:3px 4px 0; }

/* TEMPLATES */





/* Фильтр лога действий */
#dropFILTER{}
#buildALLpage{}
#fltrCntnr{padding:2px; text-align:center; }
#fltrCntnr select option[selected]{font:bold italic 9pt sans-serif!important; color:#930; }

